.container-wrapper {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  display: flex;
  background-color: #1a1a29;
}

.header {
  height: 4rem;
  background-color: #181824;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: #7562e0;
}

.list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.list-item-text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1.6rem;
  padding: 0;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #7562e0;
  }

  @media screen and (max-width: 720px) and (min-width: 200px) {
    display: none;
  }
}

.list-item-icon {
  display: none;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;

  @media screen and (max-width: 720px) and (min-width: 200px) {
    display: flex;
    margin: 2.6vw;
  }
}

.home-wrapper {
  min-width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-info-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: min-content;
  margin: 3rem;
}
.title-medium {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

.title-large {
  width: max-content;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.title-small {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  text-align: left;
}

.home-content-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-user {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #7562e0;
  margin: 4rem 0;
}

.container-buttons-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-home {
  min-width: 8rem;
  height: 2.4rem;
  border: 2px solid #7562e0;
  background-color: #7562e0;
  border-radius: 0.36rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  margin-right: 0.5rem;
}

.button-about-me {
  min-width: 8rem;
  height: 2.4rem;
  border: 2px solid #7562e0;
  background-color: transparent;
  border-radius: 0.36rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  margin-left: 0.5rem;

}

.icon-button{
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0.6rem;
}

.bar{
  height: 6rem;
  background-color: #181824;
}

.about-me-wrapper{
  min-height: 90vh;
  display: flex;
  justify-content: center;
}


.about-me-text {
  height: 10rem;
  background-color: red;
}
