<div class="container-wrapper">
  <header class="col-12 header">
    <h1 class="logo">
      Damião França
    </h1>
    <li class="list-link">
      <ul class="list-item">
        <img src="../assets/icons/home.svg" class="
        list-item-icon" alt="Home icon">
        <label class="list-item-text">
          Home
        </label>
      </ul>
      <ul class="list-item">
        <img src="../assets/icons/information.svg" class="
        list-item-icon" alt="about-me icon">
        <label class="list-item-text">
          About me
        </label>
      </ul>
      <ul class="list-item">
        <img src="../assets/icons/toolbox-outline.svg" class="
        list-item-icon" alt="projects icon">
        <label class="list-item-text">
          Projects
        </label>
      </ul>
      <ul class="list-item">
        <img src="../assets/icons/card-account-phone.svg" class="
        list-item-icon" alt="contact icon">
        <label class="list-item-text">
          Contact
        </label>
      </ul>
    </li>
  </header>
  <div class="col-12 row home-wrapper">
    <div class="row home-content-info">
      <div class="column col-11 col-sm-10 col-md-6  group-info-home">
        <div class="infos-home">
          <h2 class="title-medium">
            Hi, I'm
          </h2>
          <h1 class="col-12 title-large">
            Damião S. França
          </h1>
          <h3 class="title-small ">
            Learning UI designer, front-end developer. I create seamless and web experiences for end-users.
          </h3>
        </div>
      </div>
      <div class="column col-11 col-sm-10 col-md-6 home-content-photo">
        <div class="photo-user">

        </div>
      </div>
    </div>
  </div>
</div>
