.container-wrapper {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-height: 101vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  display: flex;
  background-color: #1a1a29;
  z-index: 2;
}

.header-container {
  height: 4rem;
  background-color: #181824;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: #7562e0;
}

.list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.list-item-text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1.6rem;
  padding: 0;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #7562e0;
  }

  @media screen and (max-width: 720px) and (min-width: 200px) {
    display: none;
  }
}

.list-item-icon {
  display: none;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;

  @media screen and (max-width: 720px) and (min-width: 200px) {
    display: flex;
    margin: 2.6vw;
  }
}

.home-wrapper {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-info-home {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) and (min-width: 200px) {
    justify-content: flex-start;
  }

  @media screen and (max-width: 360px) and (min-width: 200px) {
    justify-content: center;
  }
}

.infos-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: min-content;
  margin: 1rem 2rem;
}
.title-medium {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;

  @media screen and (max-width: 768px) and (min-width: 200px) {
    font-size: 1.4rem;
  }
}

.title-large {
  width: max-content;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;

  @media screen and (max-width: 768px) and (min-width: 200px) {
    font-size: 2rem;
  }
}

.title-small,
.text-about-me {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  text-align: left;
}

.text-about-me-secondary {
  line-height: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.time-upscale {
  margin: 0 1rem 0 0;
  font-size: 4rem;
  font-weight: 600;
  color: #7562e0;
}

.experiences-text {
  display: flex;
  align-items: center;
}

.home-content-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-user {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 4rem 0;
}

.photo-user > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-purple {
  min-width: 8rem;
  height: 2.4rem;
  border: 2px solid #7562e0;
  background-color: #7562e0;
  border-radius: 0.36rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #8d7deb;
  }
}

.button-outlined {
  min-width: 8rem;
  height: 2.4rem;
  border: 2px solid #7562e0;
  background-color: transparent;
  border-radius: 0.36rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-button {
  width: 1.4rem;
  height: 1.4rem;
}

.bar {
  height: 6rem;
  background-color: #181824;
}

.content-wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 3rem;
}

.cards-about-me {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.cards-container,
.card-project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 768px) and (min-width: 200px) {
    justify-content: center !important;
  }
}

.card-project-container {
  justify-content: flex-start;
}

.card-about-me {
  min-height: 10rem;
  padding: 1rem;
  border-radius: 0.36rem;
  background-color: #7562e0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  font-weight: 600;
  margin: 1rem 0;
}

.card-skills {
  min-height: 13rem;
  padding: 1rem;
  border-radius: 0.36rem;
  border: 2px solid #7562e0;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem 0;
}

.title-card-white {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

.title-card-black {
  font-size: 1rem;
  color: #7562e0;
  font-weight: 600;
}

.title-project-black {
  font-size: 1.2rem;
  color: #7562e0;
  font-weight: 600;
  margin: 0.5rem 0 1rem 0;
}

.gray-style {
  background-color: #2a0350;
}

.title-section {
  font-size: 1.6rem;
  font-weight: 600;
  color: #7562e0;
  margin: 0.5rem 0;
}

.card-icon-medium {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.5rem 0;
}

.card-icon-large {
  width: 1.9rem;
  height: 1.9rem;
  margin: 0.5rem 0;
}

.card-icon-contact {
  width: 1.9rem;
  height: 1.9rem;
  margin: 1rem;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }
}

.card-project {
  width: 100%;
  min-height: 19rem;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.36rem;
  background-color: #31313f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-project-container {
  min-height: 8rem;
  width: 100%;

  & > img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.descrition-project {
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  text-align: left;
}

.button-view-project {
  width: 100%;
  height: 2.4rem;
  border: 2px solid #7562e0;
  background-color: #7562e0;
  border-radius: 0.36rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  margin-right: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #8d7deb;
  }
}

.button-outlined-git {
  width: 100%;
  height: 2.4rem;
  border: 2px solid #7562e0;
  background-color: transparent;
  border-radius: 0.36rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.no-contain {
  width: 100%;
  margin: 0 !important;
}

.container-icons {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 100%;
  height: 4rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #959595;
  font-size: 0.9rem;
  font-weight: 600;
  flex-direction: column;
}
